
@{
    ViewBag.Title = "Index";
}

<h2>Upload Files</h2>

@using (Html.BeginForm("Index", "Upload", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div>
        <!--TODO: Add Drop Down to Select Upload Template-->
        @Html.TextBox("file", "", new { type = "file" })<br/>
        <input type="submit" value="Upload" />
    </div>

    
}


