@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>PowerSchool Uploader</h1>
    <p class="lead">PowerSchool Uploader is a standalone application with the purpose of easily adding templates and files to upload to PowerSchool
    by using the built in developer APIs.</p>
    <p><a href="/Home/About" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            When starting off with the PowerSchool Uploader, it is important to start here. This will walk you through the important details of the page as well 
            as get you rolling with the templates you need to upload your documents, develop end point connections, and so much more. 
        </p>
        <p><a class="btn btn-default" href="">Getting Started &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Start uploading</h2>
        <p>This is where the magic happens!</p>
        <p><a class="btn btn-default" href="">Upload documents &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Administration</h2>
        <p>Manage PowerSchool Uploader, it's templates, it's settings, everything. The power is yours. </p>
        <p><a class="btn btn-default" href="">Manage Now &raquo;</a></p>
    </div>
</div>